html{
  background: linear-gradient(180deg, rgba(0,255,98,1) 0%, rgba(24,244,238,1) 100%);
  background-attachment: fixed;
}

.container{
  margin: auto;
  border: 1px solid white;
  max-width: 65vw;
  min-height: 100vh;
  background-color:white;
}

@media only screen and (max-width: 600px) {
  .container{
    max-width: 83vw;
  }
}

.logo{
  text-align: center;
}

form{
  text-align:center;
}

form input{
  width: 70%;
}

.searchList{
  margin: 0 15% 0 15%;
  padding: 0;
  list-style-type: none;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.searchList li{
  padding: 3px;
  border-bottom:2px solid black;
}

.searchList li:hover {
  background-color: rgba(0,255,122,1);
}

.repositoryList{
  border-top:  1px solid rgba(24,244,238,1);
  list-style-type: none;
  padding: 0;
}

.repositoryList > li{
  border-bottom:  1px solid rgba(24,244,238,1);
}

.repositoryList h2{
  margin-top: .55em;
  text-align: center;
  word-wrap: break-word;
}

.repositoryList h3{
  text-align: center;
  font-weight: normal;
}

.releaseList{
  padding:0 ;
  list-style-type: none;
}

.releaseList button{
  margin-bottom: 4px;
}

.seen{
  background-color: unset;
}

.new{
  background-color: rgba(0,255,98,1);
}

pre{
  word-wrap: break-word;
  white-space: pre-wrap;
}

button{
  display: table;
  margin: auto;
}

.takeoffTopBorder{
  border: unset;
}

.apiExccedAlert{
  color:red;
  text-align: center;
}

.loader {
  margin: auto;
  margin-top: 3px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid rgba(0,255,98,1);
  width: 17px;
  height: 17px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.deleteButton{
  margin-bottom: 1.6em;
}